$darkgrey-color: #333;
$midgrey-color: #888;
$lightgrey-color: #c9c9c9;
$wedev-color: #8224e3;

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border: solid 1px $lightgrey-color;
  padding: 5vh 2vw;

  .signin-title {
    color: $darkgrey-color;
    margin: 0;
    padding: 0;
    margin-bottom: 3vh;
  }

  .without-account {
    color: $darkgrey-color;
    text-decoration: none;
    margin: 3vh 0;
    &:hover {
      filter: contrast(5);
    }
  }

  .authError {
    background-color: rgb(202, 53, 53);
    font-size: 15px;
    padding: 0.5em 2em;
    border-radius: 20px;
    color: white;
  }
}
